@media screen and (min-width: 1200px) {
  .head {
    background-color: white;
    height: 84px;
  }
  .head.sha {
    position: fixed;
    width: 100%;
  }
  .head .head-box {
    width: 1180px;
    margin: 0 auto;
    padding-top: 44px;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-bottom: 72px;
  }
  .head .head-box .logo {
    width: 200px;
    height: 30px;
    background-image: url(../img/polyglot.net.cn.svg);
    background-size: 100% 100%;
    float: left;
  }
  .head .head-box .change-box {
    float: right;
  }
  .head .head-box .change-box .change-list .a1 {
    display: block;
    color: #3c3c3c;
    font-size: 18px;
    float: left;
    line-height: 40px;
    margin-right: 60px;
  }
  .head .head-box .change-box .change-list .a1:hover {
    color: #782b90;
  }
  .head .head-box .change-box .change-list .a-box {
    float: left;
    padding-top: 8px;
  }
  .head .head-box .change-box .change-list .a-box .a2 {
    width: 62px;
    height: 24px;
    display: block;
    float: left;
    border-radius: 12px;
    line-height: 24px;
    font-size: 15px;
    color: #333;
    text-align: center;
    margin-right: 10px;
  }
  .head .head-box .change-box .change-list .a-box .a2:hover {
    color: #782b90;
  }
  .head .head-box .change-box .change-list .a-box .a2.act {
  }
  .head .head-box .change-box .change-list .a-box .a3 {
    display: block;
    width: 17px;
    height: 22px;
    margin-top: 2px;
    background-size: 100% 100%;
    background-image: url(../img/head-righgt1.svg);
    margin-left: 20px;
    float: left;
  }
  .head .head-box .change-box .change-list .a-box .a3:hover {
    background-image: url(../img/head-right1-2.svg);
  }
  .head .head-box .change-box .change-list .a-box .a4 {
    display: block;
    width: 19px;
    height: 22px;
    margin-top: 2px;
    background-size: 100% 100%;
    background-image: url(../img/head-righgt2.svg);
    margin-left: 20px;
    float: left;
  }
  .head .head-box .change-box .change-list .a-box .a4:hover {
    background-image: url(../img/head-right2-2.svg);
  }
  .head .head-box .change-box .change-list .a-box .a5 {
    display: block;
    width: 17px;
    height: 22px;
    margin-top: 2px;
    background-size: 100% 100%;
    background-image: url(../img/head-righgt3.svg);
    margin-left: 20px;
    float: left;
  }
  .head .head-box .change-box .change-list .a-box .a5:hover {
    background-image: url(../img/head-right3-2.svg);
  }
  .head .head-box .change-box .change-btn {
    display: none;
    width: 33px;
    height: 27px;
  }
  .head .head-box .change-box .change-btn span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000;
    margin-bottom: 5px;
  }
  .head .head-box .change-box .change-btn span:nth-last-child(1) {
    margin-bottom: 0;
  }
  .head .head-box .change-box .change-btn:active span {
    color: #666;
  }
  .footer {
    background-color: #F8F9FA;
  }
  .footer .box-box {
    width: 1200px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 1px;
  }
  .footer .box-box div {
    display: table;
    margin: 0 auto;
    margin-bottom: 22px;
  }
  .footer .box-box div p {
    font-size: 16px;
    color: #727272;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 34px;
    background-size: auto 28px;
    float: left;
  }
  .footer .box-box div p img {
    display: inline-block;
    margin-right: 8px;
  }
  .footer .box-box h2 {
    font-size: 16px;
    color: #727272;
    line-height: 30px;
    text-align: center;
    margin-bottom: 22px;
  }
  .box1 {
    height: 800px;
  }
}
@media screen and (max-width: 1200px) {
  .head {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: white;
  }
  .head.sha {
    position: fixed;
    width: 100%;
  }
  .head .head-box {
    width: 90%;
    padding: 30px 0;
    margin: 0 auto;
    position: relative;
  }
  .head .head-box .logo {
    width: 200px;
    height: 30px;
    background-image: url(../img/polyglot.net.cn.svg);
    background-size: 100% 100%;
    float: left;
  }
  .head .head-box .change-box {
    float: right;
  }
  .head .head-box .change-box .change-list {
    display: none;
    position: absolute;
    top: 84px;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #F8F9FA;
    box-shadow: 0px 0px 10px 1px #D6D6D6;
  }
  .head .head-box .change-box .change-list .a1 {
    display: block;
    color: #3c3c3c;
    font-size: .24rem;
    padding-left: .6rem;
    line-height: .7rem;
  }
  .head .head-box .change-box .change-list .a1:hover {
    color: #782b90;
  }
  .head .head-box .change-box .change-list .a-box {
    padding-top: .15rem;
    padding-bottom: .2rem;
    padding-left: 3.4rem;
  }
  .head .head-box .change-box .change-list .a-box .a2 {
    width: 62px;
    height: 24px;
    display: block;
    float: left;
    border-radius: 12px;
    line-height: 24px;
    font-size: 15px;
    color: #333;
    text-align: center;
    margin-right: 10px;
  }
  .head .head-box .change-box .change-list .a-box .a2:hover {
    color: #782b90;
  }
  .head .head-box .change-box .change-list .a-box .a2.act {
  }
  .head .head-box .change-box .change-list .a-box .a3 {
    display: block;
    width: 17px;
    height: 22px;
    margin-top: 2px;
    background-size: 100% 100%;
    background-image: url(../img/head-righgt1.svg);
    margin-left: 20px;
    float: left;
  }
  .head .head-box .change-box .change-list .a-box .a3:hover {
    background-image: url(../img/head-right1-2.svg);
  }
  .head .head-box .change-box .change-list .a-box .a4 {
    display: block;
    width: 19px;
    height: 22px;
    margin-top: 2px;
    background-size: 100% 100%;
    background-image: url(../img/head-righgt2.svg);
    margin-left: 20px;
    float: left;
  }
  .head .head-box .change-box .change-list .a-box .a4:hover {
    background-image: url(../img/head-right2-2.svg);
  }
  .head .head-box .change-box .change-list .a-box .a5 {
    display: block;
    width: 17px;
    height: 22px;
    margin-top: 2px;
    background-size: 100% 100%;
    background-image: url(../img/head-righgt3.svg);
    margin-left: 20px;
    float: left;
  }
  .head .head-box .change-box .change-list .a-box .a5:hover {
    background-image: url(../img/head-right3-2.svg);
  }
  .head .head-box .change-box .change-btn {
    width: 33px;
    height: 27px;
  }
  .head .head-box .change-box .change-btn span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000;
    margin-bottom: 5px;
  }
  .head .head-box .change-box .change-btn span:nth-last-child(1) {
    margin-bottom: 0;
  }
  .head .head-box .change-box .change-btn:active span {
    color: #666;
  }
  .footer {
    background-color: #F8F9FA;
  }
  .footer .box-box {
    margin: 0 auto;
    padding: 0 .4rem;
    padding-top: .2rem;
    padding-bottom: 1px;
  }
  .footer .box-box div {
    margin-bottom: .2rem;
  }
  .footer .box-box div p {
    font-size: 16px;
    color: #727272;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: auto 28px;
    margin-bottom: 20px;
  }
  .footer .box-box div p img {
    display: inline-block;
    margin-right: 8px;
  }
  .footer .box-box h2 {
    font-size: 16px;
    color: #727272;
    line-height: 30px;
    margin-bottom: .2rem;
  }
  .box1 {
    height: 800px;
  }
}
@media screen and (max-width: 700px) {
  .head {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: white;
  }
  .head.sha {
    position: fixed;
    width: 100%;
  }
  .head .head-box {
    width: 90%;
    padding: .3rem 0;
    margin: 0 auto;
    position: relative;
  }
  .head .head-box .logo {
    width: 200px;
    height: 30px;
    background-image: url(../img/polyglot.net.cn.svg);
    background-size: 100% 100%;
    float: left;
  }
  .head .head-box .change-box {
    float: right;
  }
  .head .head-box .change-box .change-list {
    display: none;
    position: absolute;
    top: .9rem;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #F8F9FA;
    box-shadow: 0px 0px 10px 1px #D6D6D6;
  }
  .head .head-box .change-box .change-list .a1 {
    display: block;
    color: #3c3c3c;
    font-size: .24rem;
    padding-left: .6rem;
    line-height: .6rem;
    float: left;
    width: 100%;
  }
  .head .head-box .change-box .change-list .a1:hover {
    color: #782b90;
  }
  .head .head-box .change-box .change-list .a-box {
    padding-top: .15rem;
    padding-bottom: .2rem;
    padding-left: 0;
    display: table;
    float: right;
    margin-right: 0;
    margin-right: .2rem;
  }
  .head .head-box .change-box .change-list .a-box .a2 {
    width: 58px;
    height: 22px;
    display: block;
    float: left;
    border-radius: 12px;
    line-height: 24px;
    font-size: 15px;
    color: #333;
    text-align: center;
    margin-right: 4px;
  }
  .head .head-box .change-box .change-list .a-box .a2:hover {
    color: #782b90;
  }
  .head .head-box .change-box .change-list .a-box .a2.act {
  }
  .head .head-box .change-box .change-list .a-box .a3 {
    display: block;
    width: 17px;
    height: 22px;
    margin-top: 2px;
    background-size: 100% 100%;
    background-image: url(../img/head-righgt1.svg);
    margin-left: 10px;
    float: left;
  }
  .head .head-box .change-box .change-list .a-box .a3:hover {
    background-image: url(../img/head-right1-2.svg);
  }
  .head .head-box .change-box .change-list .a-box .a4 {
    display: block;
    width: 19px;
    height: 22px;
    margin-top: 2px;
    background-size: 100% 100%;
    background-image: url(../img/head-righgt2.svg);
    margin-left: 10px;
    float: left;
  }
  .head .head-box .change-box .change-list .a-box .a4:hover {
    background-image: url(../img/head-right2-2.svg);
  }
  .head .head-box .change-box .change-list .a-box .a5 {
    display: block;
    width: 17px;
    height: 22px;
    margin-top: 2px;
    background-size: 100% 100%;
    background-image: url(../img/head-righgt3.svg);
    margin-left: 10px;
    float: left;
  }
  .head .head-box .change-box .change-list .a-box .a5:hover {
    background-image: url(../img/head-right3-2.svg);
  }
  .head .head-box .change-box .change-btn {
    width: 33px;
    height: 27px;
  }
  .head .head-box .change-box .change-btn span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000;
    margin-bottom: 5px;
  }
  .head .head-box .change-box .change-btn span:nth-last-child(1) {
    margin-bottom: 0;
  }
  .head .head-box .change-box .change-btn:active span {
    color: #666;
  }
  .footer {
    background-color: #F8F9FA;
  }
  .footer .box-box {
    margin: 0 auto;
    padding: 0 .4rem;
    padding-top: .2rem;
    padding-bottom: 1px;
  }
  .footer .box-box div {
    margin-bottom: .2rem;
  }
  .footer .box-box div p {
    font-size: .16rem;
    color: #727272;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto .4rem;
  }
  .footer .box-box div p img {
    display: inline-block;
    margin-right: .1rem;
  }
  .footer .box-box h2 {
    font-size: .16rem;
    color: #727272;
    line-height: .5rem;
    margin-bottom: .2rem;
  }
  .box1 {
    height: 800px;
  }
}