*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin:0;
    padding:0;
    word-break: break-all;
}
body,ul,li,h1,h2,h3,h4,h5,h6,p,ol,li,dt,dd,dl{
    border:none;
    list-style: none;
    font-weight: normal;
    
}
body{
    margin: 0;
    padding: 0;
    font-family: arial;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
img{
	vertical-align:bottom; 
	display:block;
}
svg{
	vertical-align:bottom;
	display:block;
}
a{
    text-decoration: none;
}

a img{
	border: none;
}

a svg{
	border: none;
}

.clear:after{
	content: "";
	display: block;
	clear:both;
}
.cbefore:before {
  content: "";
  display: table;
}
@media (max-width: 1200px) {html {font-size:187.5px;}}

@media (max-width: 1190px) {html {font-size:185.9375px;}}

@media (max-width: 1180px) {html {font-size:184.375px;}}

@media (max-width: 1170px) {html {font-size:182.8125px;}}

@media (max-width: 1160px) {html {font-size:181.25px;}}

@media (max-width: 1150px) {html {font-size:179.6875px;}}

@media (max-width: 1140px) {html {font-size:178.125px;}}

@media (max-width: 1130px) {html {font-size:176.5625px;}}

@media (max-width: 1120px) {html {font-size:175px;}}

@media (max-width: 1110px) {html {font-size:173.4375px;}}

@media (max-width: 1100px) {html {font-size:171.875px;}}

@media (max-width: 1090px) {html {font-size:170.3125px;}}

@media (max-width: 1080px) {html {font-size:168.75px;}}

@media (max-width: 1070px) {html {font-size:167.1875px;}}

@media (max-width: 1060px) {html {font-size:165.625px;}}

@media (max-width: 1050px) {html {font-size:164.0625px;}}

@media (max-width: 1040px) {html {font-size:162.5px;}}

@media (max-width: 1030px) {html {font-size:160.9375px;}}

@media (max-width: 1020px) {html {font-size:159.375px;}}

@media (max-width: 1010px) {html {font-size:157.8125px;}}

@media (max-width: 1000px) {html {font-size:156.25px;}}

@media (max-width: 990px) {html {font-size:154.6875px;}}

@media (max-width: 980px) {html {font-size:153.125px;}}

@media (max-width: 970px) {html {font-size:151.5625px;}}

@media (max-width: 960px) {html {font-size:150px;}}

@media (max-width: 950px) {html {font-size:148.4375px;}}

@media (max-width: 940px) {html {font-size:146.875px;}}

@media (max-width: 930px) {html {font-size:145.3125px;}}

@media (max-width: 920px) {html {font-size:143.75px;}}

@media (max-width: 910px) {html {font-size:142.1875px;}}

@media (max-width: 900px) {html {font-size:140.625px;}}

@media (max-width: 890px) {html {font-size:139.0625px;}}

@media (max-width: 880px) {html {font-size:137.5px;}}

@media (max-width: 870px) {html {font-size:135.9375px;}}

@media (max-width: 860px) {html {font-size:134.375px;}}

@media (max-width: 850px) {html {font-size:132.8125px;}}

@media (max-width: 840px) {html {font-size:131.25px;}}

@media (max-width: 830px) {html {font-size:129.6875px;}}

@media (max-width: 820px) {html {font-size:128.125px;}}

@media (max-width: 810px) {html {font-size:126.5625px;}}

@media (max-width: 800px) {html {font-size:125px;}}

@media (max-width: 790px) {html {font-size:123.4375px;}}

@media (max-width: 780px) {html {font-size:121.875px;}}

@media (max-width: 770px) {html {font-size:120.3125px;}}

@media (max-width: 760px) {html {font-size:118.75px;}}

@media (max-width: 750px) {html {font-size:117.1875px;}}

@media (max-width: 740px) {html {font-size:115.625px;}}

@media (max-width: 730px) {html {font-size:114.0625px;}}

@media (max-width: 720px) {html {font-size:112.5px;}}

@media (max-width: 710px) {html {font-size:110.9375px;}}

@media (max-width: 700px) {html {font-size:109.375px;}}

@media (max-width: 690px) {html {font-size:107.8125px;}}

@media (max-width: 680px) {html {font-size:106.25px;}}

@media (max-width: 670px) {html {font-size:104.6875px;}}

@media (max-width: 660px) {html {font-size:103.125px;}}

@media (max-width: 650px) {html {font-size:101.5625px;}}

@media (max-width: 630px) {html {font-size:98.4375px;}}

@media (max-width: 620px) {html {font-size:96.875px;}}

@media (max-width: 610px) {html {font-size:95.3125px;}}

@media (max-width: 600px) {html {font-size:93.75px;}}

@media (max-width: 590px) {html {font-size:92.1875px;}}

@media (max-width: 580px) {html {font-size:90.625px;}}

@media (max-width: 570px) {html {font-size:89.0625px;}}

@media (max-width: 560px) {html {font-size:87.5px;}}

@media (max-width: 550px) {html {font-size:85.9375px;}}

@media (max-width: 540px) {html {font-size:84.375px;}}

@media (max-width: 530px) {html {font-size:82.8125px;}}

@media (max-width: 520px) {html {font-size:81.25px;}}

@media (max-width: 510px) {html {font-size:79.6875px;}}

@media (max-width: 500px) {html {font-size:78.125px;}}

@media (max-width: 490px) {html {font-size:76.5625px;}}

@media (max-width: 480px) {html {font-size:75px;}}

@media (max-width: 470px) {html {font-size:73.4375px;}}

@media (max-width: 460px) {html {font-size:71.875px;}}

@media (max-width: 450px) {html {font-size:70.3125px;}}

@media (max-width: 440px) {html {font-size:68.75px;}}

@media (max-width: 430px) {html {font-size:67.1875px;}}

@media (max-width: 420px) {html {font-size:65.625px;}}

@media (max-width: 410px) {html {font-size:64.0625px;}}

@media (max-width: 400px) {html {font-size:62.5px;}}

@media (max-width: 390px) {html {font-size:60.9375px;}}

@media (max-width: 380px) {html {font-size:59.375px;}}

@media (max-width: 370px) {html {font-size:57.8125px;}}

@media (max-width: 360px) {html {font-size:56.25px;}}

@media (max-width: 350px) {html {font-size:54.6875px;}}

@media (max-width: 340px) {html {font-size:53.125px;}}

@media (max-width: 330px) {html {font-size:51.5625px;}}

@media (max-width: 320px) {html {font-size:50px;}}