<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Successful login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<div class="container">
    你好 [[${id}]]（[[${nickname}]]）：<br/>
    <a href="dontuknow">知否？知否？</a><br/>
    好友列表：<br/>
    <div th:each="friend : ${friends}">
        <span th:text="${friend.getString('id')}">id</span>（<span th:text="${friend.getString('nickname')}">nickname</span>）
        <br/>
    </div>
</div>
</body>
</html>