<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Successful login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<div class="container">
    你好 [[${id}]]（[[${nickname}]]）：<br/>
    <img src="portrait" th:src="@{portrait?}+${#strings.randomAlphanumeric(16)}"/><br/>
    <a href="/update">更新个人信息</a><br/>
    <a href="community">社区由此进入</a><br/>
    好友列表：<br/>
    <div th:each="friend : ${friends}">
        <span th:text="${friend.getString('id')}">id</span>（<span th:text="${friend.getString('nickname')}">nickname</span>）
        <br/>
    </div>
</div>
</body>
</html>