<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Social Vertex</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<div class="container">
    <form action="/update" enctype="multipart/form-data"  method="post">
        <table id="table1">
            <tbody>
            <tr><td colspan="2">社交节点（Social Vertex）</td> </tr>
            <tr>
                <td>
                    <label>账户：</label>
                </td>
                <td>
                    <span th:text="${id}">lice001</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="portrait" th:src="@{portrait?}+${#strings.randomAlphanumeric(16)}"/><br/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>上传头像：</label>
                </td>
                <td>
                    <input type="file" id="portrait" name="portrait" accept="image/*"><br/>
                    注意：图片最大不得超过1m<br/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>昵称：</label>
                </td>
                <td>
                    <input name="nickname" id="nickname" th:value="${nickname}"><br/>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">更新</button>
                </td>
                <td>
                    <button type="reset">取消</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span th:text="${info}">错误信息</span>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>