<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Successful login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../index.css">
</head>
<body>
<div class="container">
    <a href="prepareArticle">发表文章</a><br/>
    以下是最新文章列表：
    <div th:each="article : ${articles}">
        <a th:href="@{article?}+${article.getString('parameters')}">
            <span th:text="${article.getString('title')}">文章标题</span>
        </a>
        <br/>
    </div>
</div>
</body>
</html>