<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Successful login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../index.css">
</head>
<body>
<div class="container">
    <form action="/question" method="post">
        <form action="/question" method="post">
            您想知道啥？<br/>
            <input name="title" id="title"/><br/>
            请补充相关问题您所了解到的信息和情况（可选）<br/>
            <textarea name="body" id="body"></textarea><br/>
            <button type="submit">提交</button>
        </form>
        以下是最新问题列表：
        <div th:each="article : ${articles}">
            <a th:href="@{elaborate?}+${article.getString('parameters')}">
                <span th:text="${article.getString('title')}">这里是标题</span>
            </a>
            <br/>
        </div>
    </form>
</div>
</body>
</html>